.containerCards {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* align-content: flex-start; */
    max-width: 1001px;
    padding: 10px 0 0 10px;
    margin: auto;
    margin-top: 5px;
    resize: horizontal;
    overflow: auto;
}

.load {
    text-align: center;
}

.load .icon {
    font-size: 32px;
    color: #00b1ab;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: load;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes load {
    from {transform: rotate(0)}
    to {transform: rotate(360deg)}
}

